body{
    background-color: #CCCCCC;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    background:linear-gradient(rgb(33, 13, 37),rgb(98, 30, 110));
    border-radius: 5px;
    margin: auto;
    width: 600px;
}
.header {
    padding: 0.9rem;
}
.header-title {
    color: #FECD23;
    font-size: 1.7rem;/* 1rem equivale a 16px (depende, mas no geral sim - ir em inspecionar no F12 e verificar)*/
    font-weight: 600;
    margin-bottom: 2rem;
    text-align: center;
}
.header-subtitle{
    color: #fff;
    text-align: center;
    margin-bottom: 1rem ;
}
.header-subtitleN{
    color: #fff;
    font-weight: 500;
    
}
@media screen and (max-width:620px){
    html{
        font-size: 14px;
    }
    .container{
        width: 95%;
    }
    .header{
        padding: 15px;
    }
}